@using Microsoft.AspNetCore.Html
@model Departments.UI.Models.MainViewModel

@functions{
    private IHtmlContent DisplayItem(IEnumerable<Departments.UI.Models.Departments.DepartmentsTreeItemViewModel> departments)
    {
        Func<IEnumerable<Departments.UI.Models.Departments.DepartmentsTreeItemViewModel>, IHtmlContent> getTreeElements =
    @<ul>
        @foreach (var treeElement in @item)
        {
            if (treeElement.ChildDepartments.Any())
            {
                <li class="@(treeElement.ChildDepartments.Any(x=>x.IsSelected) ? "" : "cl" )">
                    <div>
                        <p>
                            <a href="#" class="sc" onclick="return UnHide(this)">
                                @(treeElement.ChildDepartments.Any(x => x.IsSelected) ? System.Net.WebUtility.HtmlEncode("\u25BC") : System.Net.WebUtility.HtmlEncode("\u25BA"))
                            </a>

                            <a id="@treeElement.Id">@treeElement.Name</a>
                        </p>
                    </div>
                    @DisplayItem(treeElement.ChildDepartments)
                </li>
            }
            else
            {
                <li>
                    <div>
                        <p>
                            <a asp-action="Details" asp-route-id="@treeElement.Id">@treeElement.Name</a>
                        </p>
                    </div>
                </li>
            }

        }
    </ul>;

   return getTreeElements(departments);
}

}

@{
    ViewData["Title"] = "Departments";
}

<div class="row">
    <div class="treeview col-lg-2 col-md-4 col-sm-4">
        @DisplayItem(Model.TreeItems)
    </div>

    <div class="col-lg-10 col-md-8 col-sm-8">
        @await Html.PartialAsync("../Departments/_DepartmentDetails.cshtml")
    </div>
</div>

